/* @font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan/BYekan-webfont.eot") format("eot"),
    url("../fonts/BYekan/BYekan-webfont.woff") format("woff"),
    url("../fonts/BYekan/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

* {
  /* font-family: "BYekan"; */
  box-sizing: border-box;
  line-height: 0 !important;
}

a {
  text-decoration: none !important;
}

:root {
  --pink: #ffa5d2;
  --red: #ef0075;
  --blue: #15b0e9;
  --green: #42c58a;
  --gray: #eceff1;
}

.d-rtl {
  direction: rtl;
}
.dir-ltr {
  direction: ltr;
}
.bg-p {
  background: var(--pink);
}
.red {
  color: var(--red);
}
.blue {
  color: var(--blue);
}
.green {
  color: var(--green);
}
.bg-s {
  background: var(--green);
}
.bg-r {
  background: var(--red);
}
.bg-b {
  background: var(--blue);
}
.faj {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-top {
  right: 15px !important;
  left: 15px !important;
  border-radius: 0 0 15px 15px;
  opacity: 0.9;
}

.bxshadow {
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
}
.rounded-t {
  border-radius: 5px 5px 0 0;
}
.rounded-b {
  border-radius: 0 0 5px 5px;
  background: rgba(0, 0, 0, 0.2);
}

.f-1 {
  flex: 1;
}
html {
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  direction: rtl;
  scroll-behavior: smooth;
}

.h1 {
  text-align: center;
  margin-bottom: 25px !important;
}

table {
  text-align: right;
}

.product {
  width: 150px;
  text-align: center;
}

#myChart {
  width: 90% !important;
  height: 90% !important;
}
.mx-20 {
  margin-left: 10px;
  margin-right: 10px;
}
.my-20 {
  margin-bottom: 20px !important;
}
.mb-15 {
  margin-bottom: 15px;
}

/* #region login */

.sidebar {
  /* height: 100vh; */
  margin: 0;
  direction: rtl;
  display: flex;
  align-items: center;
}

.navigation {
  position: fixed;
  z-index: 1000;
  top: 25px;
  height: calc(100vh - 65px);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  width: 80px;
  border-radius: 50px;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: 0.5s;
}
.sidebar_items_container {
  max-height: calc(100vh - 300px) !important;
  overflow: auto;
}
.sidebar_items_container::-webkit-scrollbar {
  width: 0;
}
.navigation.active {
  width: 230px;
  border-radius: 20px;
}
.navigation.active .avatar_name {
  display: block;
}
.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle:before {
  content: "";
  position: absolute;
  background: var(--red);
  width: 26px;
  height: 3px;
  border-radius: 3px;
  transform: translateY(-5px);
  transition: 1s;
}
.toggle:after {
  content: "";
  position: absolute;
  background: var(--red);
  width: 26px;
  height: 3px;
  border-radius: 3px;
  transform: translateY(5px);
  transition: 1s;
}

.navigation.active .toggle:before {
  transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle:after {
  transform: translateY(0px) rotate(225deg);
}

.navigation ul {
  padding-right: 11px;
  position: absolute;
  top: 75px;
  width: 100%;
}
.sidebar_item {
  position: relative;
  list-style: none;
  width: 100%;
  border-radius: 0 30px 30px 0;
}
.sidebar_item:hover {
  background: #dcf0ff;
}
.sidebar_item:hover a {
  color: var(--red);
}

.sidebar_item:hover::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 0 0 0 20px;
  box-shadow: -7.5px 7.5px 0 7.5px #dcf0ff;
}
.sidebar_item:hover::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 20px 0 0 0;
  box-shadow: -7.5px -7.5px 0 7.5px #dcf0ff;
}

.sidebar_item a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}
.sidebar_item a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  text-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
}
.sidebar_item a .icon i {
  font-size: 1.75em;
}
.sidebar_item a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 11px;
}
.avatar_box {
  width: 50px;
}
.avatar_name {
  display: none;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
}
/* #endregion */

/* #region 404 */
.four_zero_four_bg {
  background: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif)
    center/cover;
  height: 500px;
  border-radius: 10px;
}
/* #endregion */

.add_product {
  background: #42c58a;
  border: none;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 3px;
  color: #fff;
}
table tr {
  text-align: center;
}
.dashboard {
  background: #d1d8f3 !important;
  height: 100vh;
  width: 100%;
}
.moraba {
  background: #f2f6fe;
  height: 680px;
  width: 920px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.side {
  height: 625px;
  background: #2e53da;
  width: 155px;
  margin-right: 15px;
  border-radius: 25px;
  color: #fff;
  /* color: #ccbca5; */
}

.header_side {
  margin-top: 20px;
}
.list {
  margin-top: 25px;
  list-style-type: none;
  flex-direction: column;
  padding: 0 !important;
}
.li_list {
  font-size: 25px;
}
.icon_list {
  font-size: 25px;
  margin-left: 25px;
}

.context {
  height: 625px;
  width: 465px;
  flex-direction: column;
  margin-right: 25px;
}
.header_context {
  display: flex;
  margin-bottom: 20px;
  height: 50px;
  width: 465px;
  align-items: center;
  justify-content: space-between;
}
.welcome {
  direction: rtl;
  text-align: right;
}

.h6_welcome,
.h3_welcome {
  line-height: 0.5 !important;
}
.ads {
  margin-right: 20px;
  width: 225px;
}

.header_ads {
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.upload {
  background: #2e53da;
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
}
.search {
  height: 35px;
  width: 165px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}
.alert_btn {
  background: #fff;
  border: none;
  border-radius: 25px;
  width: 35px;
  height: 35px;
}

.blue_box {
  width: 465px;
  height: 175px;
  background: #1ccef4;
  border-radius: 25px;
}
.middle {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 150px;
  flex-direction: row;
}
.total_box {
  width: 225px;
  background: #fff;
  border-radius: 25px;
}
.white_box {
  width: 465px;
  height: 190px;
  background: #fff;
  border-radius: 25px;
}

.top {
  height: 345px;
  background: #fff;
  border-radius: 25px;
}
.title_bx {
  height: 55px;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
}

.title_bx::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background: #2e53da;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 15px;
  position: relative;
  top: 5px;
}

.top_products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 190px;
  height: 275px;
  margin-right: 15px;
}
.top_products_bx {
  width: 195px;
  height: 60px;
  display: flex;
  align-items: center;
}
.img_icon {
  width: 43px;
  height: 43px;
  margin-left: 10px;
}
.title_top_bx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
  height: 43px;
}
.mark_to {
  font-size: 30px;
}
.balance {
  background: #fff;
  border-radius: 25px;
  height: 190px;
  position: relative;
}
.balance_btn {
  bottom: 15px;
  position: absolute;
  width: 190px;
}
.khoroji {
  position: absolute;
  width: 225px;
  top: 0;
}
.inventory {
  height: 40px;
  width: 225px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.num {
  font-size: 35px;
  font-weight: 700;
}
